%h1 New post

= form_for @post do |f|
  .form_field
    = f.label :title
    = f.text_field :title
  .form_field
    = f.label :body
    = f.text_area :body
  .form_field
    = f.label :author_id
    = f.select :author_id, User.all.map {|u| [u.name, u.id]}
